#entries {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#entries .entry-form {
  padding: 15px 40px 15px;
}
#entries .container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#entries .container > section {
  flex: 1;
  overflow: hidden;
}
#entries .container > section > .row {
  height: 100%;
  overflow: hidden;
}
#entries .entry-card {
  box-sizing: border-box;
  position: relative;
  padding: 40px 0;
  background-color: #fff;
}
#entries .entry-card-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#entries .entry-card-actions > .action {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #e6e6e6;
  border-radius: 50%;
  cursor: pointer;
  font-size: 10px;
  position: absolute;
  top: 25px;
  right: 25px;
}
#entries .entry-card-actions > .action:hover {
  border: 1px solid #d9d9d9;
  color: #3c3c3c;
}
#entries .entry-dates,
#entries .entry-provider {
  padding: 0 40px;
}
#entries .entry-dates .title,
#entries .entry-provider .title {
  font-size: 0.6rem;
}
#entries .entry-dates .description,
#entries .entry-provider .description {
  font-size: 0.9rem;
}
#entries .stocks {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-y: auto;
}
#entries .stock-form {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#entries .stock-form .fields {
  flex: 1;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow: hidden;
  overflow-y: auto;
}
#entries .stock-form .actions-container {
  padding: 0 30px;
}
#entries .stock-card {
  --txt-color: #888888;
  --txt-hover-color: #2f2f2f;
  --border-color: #d9d9d9;
  --border-hover-color: #999999;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  color: var(--txt-color);
  background-color: #fcfcfc;
}
#entries .stock-card:nth-of-type(2n) {
  background-color: #f2f2f2;
}
#entries .stock-card:hover {
  color: var(--txt-hover-color);
}
#entries .stock-card:hover > .thumbnail > .icon {
  border: 2px solid var(--border-hover-color);
  color: white;
  background-color: #d9d9d9;
}
#entries .stock-card:hover .stock-actions .action {
  color: var(--txt-hover-color);
}
#entries .stock-card > .thumbnail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
#entries .stock-card > .thumbnail > .icon {
  width: 48px;
  height: 48px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--border-color);
  color: var(--border-color);
  border-radius: 50%;
  font-weight: bold;
  font-size: 0.8rem;
}
#entries .stock-card .details {
  flex: 1;
  box-sizing: border-box;
  padding: 10px;
}
#entries .stock-card .details .code {
  text-align: right;
}
#entries .stock-card .stock-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#entries .stock-card .stock-actions .action {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #e6e6e6;
}
#entries .stock-card .stock-actions .action:hover {
  color: #888888;
}
#entries .stock-card .stock-detail .quantities {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#entries .stock-card .stock-detail .quantities > * {
  text-align: right;
}
