* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  outline: none;
  box-shadow: none;
  user-select: none;
}
*:active {
  outline: none;
}
*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
* ::-webkit-scrollbar-thumb {
  background-color: rgba(169, 169, 169, 0.5);
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
  background: #f4f7fc;
}

.hidden {
  display: none;
}

.scroll {
  overflow: scroll;
}

.no-scroll {
  overflow: hidden;
}

.vw-70 {
  width: 70vw;
}
.vw-65 {
  width: 65vw;
}

.flex-1 {
  flex: 1;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
}

.flash {
  font-size: 0.7rem;
}

.status-bottom {
  font-size: 0.6rem;
}

.txt-b {
  font-weight: bold;
}
.txt-sm {
  font-size: 0.6rem;
}
.txt-l {
  font-size: 1rem;
}
.txt-up {
  text-transform: uppercase;
}

.flash {
  padding: 40px;
  text-align: center;
  border: 1px solid #cccccc;
}

.row {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  overflow: hidden;
}
.row.a-start {
  align-items: flex-start;
}
.row.a-end {
  align-items: flex-end;
}
.row.a-stretch {
  align-items: stretch;
}
.row.gap > [class=col]:nth-of-type(2n) {
  padding-right: 0;
  padding-left: 5px;
}
.row.gap > [class=col]:nth-of-type(3n) {
  padding-right: 0;
  padding-left: 5px;
}
.row > [class=col] {
  flex-basis: calc(100% / 3);
  flex-grow: 1;
  flex-shrink: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.form {
  width: 100%;
  box-sizing: border-box;
}
.form label,
.form .notice {
  font-size: 0.7rem;
}
.form .field {
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 5px;
  width: 100%;
}
.form .field .control {
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  width: 100%;
  display: flex;
  flex-direction: center;
  align-items: center;
  overflow: hidden;
  padding: 5px 5px;
}
.form .field .control input,
.form .field .control select,
.form .field .control textarea {
  width: 100%;
  border: none;
  height: 20px;
  background-color: transparent;
}
.form .field .control textarea {
  min-height: 50px;
  max-height: 50px;
}
.form .field .control .icon {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}
.form .field .control .icon > * {
  position: relative;
  top: 1px;
}
.form .field.toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.form .field.toggle button.icon {
  display: none;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: none;
  font-size: 20px;
}
.form .field.toggle button.icon > * {
  position: relative;
  top: 1px;
}
.form .notice {
  display: none;
}
.form .notice > * {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.form .notice > * .icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  width: 20px;
  height: 20px;
}
.form .notice > * .icon > * {
  position: relative;
  top: 1px;
}

.tabs-container {
  box-sizing: content-box;
  position: relative;
  overflow: hidden;
}
.tabs .tab {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.tabs .tab.active .tab-title {
  border-left: 2px solid #d9d9d9;
  font-weight: bold;
}
.tabs .tab.active .tab-content {
  display: block;
}
.tabs .tab-title {
  height: 40px;
  cursor: pointer;
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 15px 0;
}
.tabs .tab-title:hover {
  background-color: #f2f2f2;
}
.tabs .tab-content {
  display: none;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 98;
  width: calc(70% - 5px);
  overflow: auto;
  height: 100%;
  overflow: auto;
  border-left: 1px solid #e6e6e6;
}

.nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.nav ul > li > a {
  width: 50px;
  height: 50px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.status-bottom {
  height: 20px;
}

.modal {
  width: 100vw;
  height: 100vh;
  background: rgba(34, 34, 34, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
.modal-container {
  width: 500px;
  height: auto;
  background: #fff;
  border-radius: 3px;
}
.modal-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.modal-title {
  flex: 1;
  padding: 0 10px;
}
.modal-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.modal-actions .action {
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.modal-actions .action:hover {
  color: #2f2f2f;
}

.actions {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.actions .action {
  background: transparent;
  box-shadow: none;
  box-sizing: border-box;
  cursor: pointer;
  height: 30px;
  padding: 0 20px;
  border: 1px solid #e6e6e6;
  margin-left: 5px;
}
.actions .action:hover {
  border-color: #cccccc;
}
.actions .action-left, .actions .action-right {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  padding: 0 25px;
}
.actions .action-left {
  justify-content: flex-start;
}
.actions .action-right {
  justify-content: flex-end;
}

/*# sourceMappingURL=main.css.map */
