#settings {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#settings .tabs-container {
  flex: 1;
  margin: 50px 0;
  width: 80vw;
  background-color: transparent;
}
#settings .actions-container {
  width: 100%;
}
#settings .resources .device {
  margin-bottom: 10px;
}
#settings .resources .device .header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#settings .resources .device .header .field {
  margin: 0;
}
#settings .resources .device .header .icon {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#settings .resources .device .body {
  box-sizing: border-box;
}

/*# sourceMappingURL=settings.css.map */
