.actions {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;

    .action {
        background: transparent;
        box-shadow: none;
        box-sizing: border-box;
        cursor: pointer;
        height: 30px;
        padding: 0 20px;
        border: 1px solid darken(#fff, 10);
        margin-left: 5px;
        &:hover {
            border-color: darken(#fff, 20);
        }
        &-left,
        &-right {
            flex: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 70px;
            padding: 0 25px;
        }
        &-left {
            justify-content: flex-start;
        }
        &-right {
            justify-content: flex-end;
        }
    }
}
