.form {
    width: 100%;
    box-sizing: border-box;
    label,
    .notice {
        font-size: 0.7rem;
    }
    .field {
        box-sizing: border-box;
        overflow: hidden;
        margin-bottom: 5px;
        width: 100%;
        .control {
            box-sizing: border-box;
            border: 1px solid darken(#fff, 15);
            width: 100%;
            display: flex;
            flex-direction: center;
            align-items: center;
            overflow: hidden;
            padding: 5px 5px;
            input,
            select,
            textarea {
                width: 100%;
                border: none;
                height: 20px;
                background-color: transparent;
            }
            textarea {
                min-height: 50px;
                max-height: 50px;
            }
            .icon {
                width: 20px;
                height: 20px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                position: relative;
                > * {
                    position: relative;
                    top: 1px;
                }
            }
        }
        &.toggle {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            button.icon {
                display: none;
                border: none;
                cursor: pointer;
                width: 30px;
                height: 30px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                background: none;
                font-size: 20px;
                > * {
                    position: relative;
                    top: 1px;
                }
            }
        }
    }
    .notice {
        display: none;
        > * {
            .icon {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                font-size: 10px;
                width: 20px;
                height: 20px;
                > * {
                    position: relative;
                    top: 1px;
                }
            }
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
}
