.row {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    overflow: hidden;
    &.a {
        &-start {
            align-items: flex-start;
        }
        &-end {
            align-items: flex-end;
        }
        &-stretch {
            align-items: stretch;
        }
    }
    &.gap {
        > [class="col"] {
            &:nth-of-type(2n) {
                padding-right: 0;
                padding-left: 5px;
            }
            &:nth-of-type(3n) {
                padding-right: 0;
                padding-left: 5px;
            }
        }
    }
    > [class="col"] {
        flex-basis: calc(100% / 3);
        flex-grow: 1;
        flex-shrink: 0;
        box-sizing: border-box;
        overflow: hidden;
    }
}
