.modal {
    width: 100vw;
    height: 100vh;
    background: rgba(#222, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    &-container {
        width: 500px;
        height: auto;
        background: #fff;
        border-radius: 3px;
    }
    &-header {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &-title {
        flex: 1;
        padding: 0 10px;
    }
    &-actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        .action {
            width: 32px;
            height: 32px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:hover {
                color: lighten(#222, 5);
            }
        }
    }
}
