@import "./vars";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    outline: none;
    box-shadow: none;
    user-select: none;
    &:active {
        outline: none;
    }
    &::-webkit-scrollbar {
        width: 2px;
        height: 2px;
    }

    & ::-webkit-scrollbar-thumb {
        background-color: rgba(darkgrey, 0.5);
    }
}
html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#root {
    width: 100%;
    height: 100%;
    background: lighten($color: $color-light-blue, $amount: 4);
}

.hidden {
    display: none;
}

.scroll {
    overflow: scroll;
}

.no-scroll {
    overflow: hidden;
}
.vw {
    &-70 {
        width: 70vw;
    }
    &-65 {
        width: 65vw;
    }
}

.flex-1 {
    flex: 1;
}
