.tabs {
    &-container {
        box-sizing: content-box;
        position: relative;
        overflow: hidden;
    }

    .tab {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        box-sizing: border-box;

        &.active {
            .tab {
                &-title {
                    border-left: 2px solid darken(#fff, 15);
                    // background-color: darken(#fff, 5);
                    font-weight: bold;
                }
                &-content {
                    display: block;
                }
            }
        }

        &-title {
            height: 40px;
            cursor: pointer;
            width: 25%;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0 15px 0;
            &:hover {
                background-color: darken(#fff, 5);
            }
        }
        &-content {
            display: none;
            padding: 10px;
            box-sizing: border-box;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 98;
            width: calc(70% - 5px);
            overflow: auto;
            height: 100%;
            overflow: auto;
            border-left: 1px solid darken(#fff, 10);
        }
    }
}
