body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
}
.flash {
    font-size: 0.7rem;
}
.status {
    &-bottom {
        font-size: 0.6rem;
    }
}

.txt {
    &-b {
        font-weight: bold;
    }
    &-sm {
        font-size: 0.6rem;
    }
    &-l {
        font-size: 1rem;
    }
    &-up {
        text-transform: uppercase;
    }
}
