#entries {
    height: 100%;
    display: flex;
    flex-direction: column;

    .entry-form {
        padding: 15px 40px 15px;
    }
    .container {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        > section {
            flex: 1;
            overflow: hidden;
            > .row {
                height: 100%;
                overflow: hidden;
            }
        }
    }

    .entry-card {
        box-sizing: border-box;
        position: relative;
        padding: 40px 0;
        background-color: #fff;
    }

    .entry-card-actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        > .action {
            width: 30px;
            height: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border: 1px solid darken(#fff, 10);
            border-radius: 50%;
            cursor: pointer;
            font-size: 10px;
            position: absolute;
            top: 25px;
            right: 25px;
            &:hover {
                border: 1px solid darken(#fff, 15);
                color: lighten(#222, 10);
            }
        }
    }

    .entry-dates,
    .entry-provider {
        padding: 0 40px;
    }
    .entry-dates,
    .entry-provider {
        .title {
            font-size: 0.6rem;
        }
        .description {
            font-size: 0.9rem;
        }
    }
    .stocks {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        word-wrap: break-word;
        overflow-y: auto;
    }
    .stock-form {
        height: 100%;
        display: flex;
        flex-direction: column;
        .fields {
            flex: 1;
            width: 100%;
            padding: 30px;
            box-sizing: border-box;
            word-wrap: break-word;
            overflow: hidden;
            overflow-y: auto;
        }
        .actions-container {
            padding: 0 30px;
        }
    }

    .stock-card {
        --txt-color: #{lighten(#222, 40)};
        --txt-hover-color: #{lighten(#222, 5)};
        --border-color: #{darken(#fff, 15)};
        --border-hover-color: #{darken(#fff, 40)};

        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        color: var(--txt-color);
        background-color: darken(#fff, 1);
        &:nth-of-type(2n) {
            background-color: darken(#fff, 5);
        }

        &:hover {
            color: var(--txt-hover-color);
            > .thumbnail {
                > .icon {
                    border: 2px solid var(--border-hover-color);
                    color: darken(#fff, 0);
                    background-color: darken(#fff, 15);
                }
            }
            .stock-actions {
                .action {
                    color: var(--txt-hover-color);
                }
            }
        }
        > .thumbnail {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-left: 20px;
            > .icon {
                width: 48px;
                height: 48px;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 2px solid var(--border-color);
                color: var(--border-color);
                border-radius: 50%;
                font-weight: bold;
                font-size: 0.8rem;
            }
        }
        .details {
            flex: 1;
            box-sizing: border-box;
            padding: 10px;
            .code {
                text-align: right;
            }
        }
        .stock-actions {
            display: flex;
            flex-direction: row;
            align-items: center;
            .action {
                width: 40px;
                height: 40px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                color: darken(#fff, 10);
                &:hover {
                    color: lighten(#222, 40);
                }
            }
        }
        .stock-detail {
            .quantities {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                > * {
                    text-align: right;
                }
            }
        }
    }
}
