@import "./vars";

#home {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    & > .container {
        flex-grow: 1;
    }
    #homenav {
        box-sizing: border-box;
        background: lighten($color: $color-light-blue, $amount: 10);
        color: lighten(#222, 30);
        ul > li > a:hover,
        .active {
            color: #222;
        }
    }
    .container {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        > section {
            &:first-of-type {
                flex: 1;
            }
        }
    }

    .stock {
        &-header {
            // border: 1px solid red;
            background: darken(#fff, 1);
            position: relative;
            height: 100px;
            display: flex;
            flex-direction: row;
            align-items: center;
            &-content {
                flex: 1;
                padding: 0 25px;
                .form {
                    width: 400px;
                }
            }
            &-actions {
                position: absolute;
                top: 0;
                right: 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 25px;
                > .action {
                    width: 30px;
                    height: 30px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid darken(#fff, 10);
                    border-radius: 50%;
                    cursor: pointer;
                    font-size: 10px;
                    &:hover {
                        border: 1px solid darken(#fff, 15);
                        color: lighten(#222, 10);
                    }
                }
            }
        }
    }
}
