#settings {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .tabs-container {
    flex: 1;
    margin: 50px 0;
    width: 80vw;
    background-color: transparent;
  }

  .actions-container {
    width: 100%; 
  }

  .resources {
    .device {
      margin-bottom: 10px;

      .header {
        display: flex;
        flex-direction: row;
        align-items: center;

        .field {
          margin: 0;
        }

        .icon {
          width: 30px;
          height: 30px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        }
      }

      .body {
        box-sizing: border-box;
      }
    }
  }
}